*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cambiado a min-height para permitir el desplazamiento */
  position: relative;
  overflow: auto; /* Permitir desplazamiento */
  background-color: rgba(88, 163, 104, 0.63);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los botones horizontalmente */
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-principal {
  border: none;  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-santi {
  margin-top: 10px;
  width: 250px; /* Ajusta el tamaño según sea necesario */
  height: 250px;
  border-radius: 150px;
}

#p {
  background-color: transparent;
  text-align: center;
  border-radius: 50px;
  margin: 0;
  width: 100%;
  padding: 20px;
  font-size: 25px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button{
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los botones horizontalmente */
}

button a{
  padding: 14px 27px 14px 28px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.red-social{
  border: 1px solid grey;
  border-radius: 50px;
  width: 550px;
  height: 60px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.red-social:hover{
  background-color: rgba(5, 233, 55, 0.63);
}

@media (max-width: 708px) {

    .red-social{
      width: 350px;
    }
}
