*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cambiado a min-height para permitir el desplazamiento */
  position: relative;
  overflow: auto; /* Permitir desplazamiento */
}

/* Pseudo-elemento para el fondo borroso */
body::before {
  content: "";
  position: fixed; /* Fija la imagen para que no se desplace */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("cruz.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px); /* Ajusta el nivel de desenfoque según prefieras */
  z-index: -1; /* Envía el fondo detrás del contenido */
  opacity: 0.8; /* Opcional: ajusta la opacidad si quieres un efecto más suave */
}

main {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los botones horizontalmente */
}

.container-principal {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-santi {
  width: 100%; /* Ajusta el tamaño según sea necesario */
  height: 600px;
}

#p {
  color: white;
  background-color: gray;
  text-align: center;
  margin: 0;
  width: 100%;
  padding: 20px;
  font-size: 25px;
}

button {
  border: 1px solid black;
  background: white;
  padding: 20px;
  width: 100%;
  height: auto;
}

button:hover{
  background-color: antiquewhite;
}

button img {
  width: 140px; /* Ajusta el tamaño de los iconos según sea necesario */
  height: auto;
  margin-right: 190px;
}

button a{
  border: none;
  padding: 14px 27px 14px 28px;
  margin-left: 0px;
  color: black;
  text-decoration: none;
  display: inline-block;
}

p{
  background-color: transparent;
  margin-left: 250px;
  margin-top: -60px;
  width: 70px;
  padding: 0px;
  border: 1px solid black;
  font-size: 20px;
}

p:hover{
  background-color: aqua;
}

